App {
  text-align: center;
  margin:0px;
  padding:0px;
  display: flex;
}

main > .container {
  padding: 60px 15px 0;
}

:root {
--main-black : #333333;
--main-green : #95c595;
--main-blue : #aaddd6;
--main-pink : #f19fa5;
--main-yellow : #f5c36c;
--main-darkblue : #91adc2;
--main-light-grey: #F8F8F8;
--main-dark-grey: #E8E8E8;
--font-family: 'Montserrat', sans-serif;

}

Body{
  font-family: 'Montserrat', sans-serif;
}

.projects {
background-color: var(--main-light-grey);
text-align: center;
color:var(--main-black);
padding-bottom: 30px;
}

.navbar {
  background-color: #333333;
  margin: 0px
}

.navbar-nav li a {
  line-height: 40px;
}

.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #91adc2;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #91adc2;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #91adc2; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #91adc2;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #333333;
  border-color: #333333;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #91adc2;
  background-color: #333333;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #333333;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #91adc2;
  background-color: #333333;
}
.navbar .navbar-toggle {
  border-color: #333333;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #333333;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #91adc2;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #91adc2;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #91adc2;
    background-color: #333333;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #91adc2;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #91adc2;
    background-color: #333333;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #91adc2;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #91adc2;
    background-color: #333333;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #91adc2;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #91adc2;
    background-color: #333333;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #91adc2;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #91adc2;
  background-color: #333333;
}

.Jumbotron {
  text-align: center;
  background-color: var(--main-pink);
  font-style: oblique;
}

.home-task-feed {
background-color: var(--main-light-grey);
text-align: center;
padding-bottom: 30px;
}

.icon {
  justify-content: right ;
}

.snapshot {
background-color: var(--main-dark-grey);
text-align: center;
height:100%;
padding-bottom: 30px;

}

.logindiv {
  background-color: var(--main-dark-grey);
}

.signin-form {
  text-align: center;
}

.login {
  background-color: var(--main-blue);
  justify-content: center;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
}

.projectform, .taskform {
  padding: 20px;
}

.modaltaskform {
  padding:0px;
  margin:0px;
  border: 1px solid var(--main-green);
}

.title {
  text-align: center;
  width: 100vw;
}
.test{
  font-size: 1.2rem;
}

.list {
  list-style-type: none;
  background-color: rgba(149, 197, 149, 0.3);
  /* border: 1px solid black; */
  /* margin:10px; */
  padding:5px;
  border-radius:20px;

}

/* h3 {text-align: center;} */

.listitem {
  border: 1px solid #95C595;
  border-radius:20px;
  margin: 4px;
  padding: 2px;
  font-variant-caps: all-small-caps;
}

.listitem:hover {
  border: 1px solid white;
  cursor: pointer;
  font-weight: bold;
}


.task-modal-left {
  border-right: 1px solid grey;
}

.taskform{
  padding: 0px;
}

.taskcreate {
  padding: 20px
}

.task-card {
  width: 98%;
  margin: 4px;
}

.task-card-body {
  text-justify: distribute;
  text-align: left;
  color: var(--main-black);
}

.task-card:hover {
  cursor: pointer;
}

.task-col-header{
  border: none;
  font-size: 1.1rem;
  width:98%;
  margin:4px;
  text-decoration: underline  var(--main-black);
}


.task-header {
  text-justify: distribute;
  text-align: left;
  color: var(--main-black);
}

.project-card {
  color : var(--main-black);
  margin: 30px;
  min-width: 18rem;
  font-family: 'Montserrat', sans-serif;
  
}

.project-card:hover {
  cursor: pointer;
}


.project-card-body{
  justify-content: center;
}

.project-task-stats {
  justify-content: center;
  align-items: baseline;
  /* background-color: var(--main-dark-grey); */
}


.progress-card-body{
  justify-content: center;
  background-color: var(--main-light-grey);
}
.project-card-header {
  background-color: var(--main-green);
}

.project-card-footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.project-card-progress{
  background-color: var(--main-yellow);
  width: 100%;
  
}                 

.modal-card-header {
  background-color: var(--main-green);
}

.modal-card-footer {
  background-color: var(--main-dark-grey);
  margin:0px;
}

.login-button {
  background-color: var(--main-green);
}

.register-button {
  background-color: var(--main-green);
}

.tableheader{
  background-color: var(--main-green);
}

.stat-container{
  text-align: center;
  margin-left: auto;
}

.barchart{
  margin-left: 20px;
}

.footer {
  padding-top: 30px;
  text-align: center;
  background-color: var(--main-black);
  padding-bottom: 30px;
}
.footer-title {
  color: white;
  padding: 20px;
}

.project-row {
  min-height: 50vh;
}

.open-icon {
  color:var(--main-darkblue)
}
.inprogress-icon {
color:var(--main-yellow)
}
.done-icon{
color: var(--main-green)
}


.black-button {
  color: var(--main-black);
  background-color: #ffffff;
  border-color: var(--main-black);
  font-weight: bold;
  letter-spacing: 0.05em;
}

.black-button {
  color: var(--main-black);
  background-color: #ffffff;
  border-color: var(--main-black);
  font-weight: bold;
  border-radius: 90;
}

.black-button:hover,
.black-button:active,
.black-button:focus,
.black-button.active {
  background: var(--main-green);
  color: #ffffff;
  border-color: var(--main-green);
  
}

/* This formats the white space to create a paragraph */
div{
  white-space: pre-wrap;
}

.circular-progress-bar {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-started {
  color: var(--main-darkblue);
  
}

.still-in-p{
  color: var(--main-yellow);

}

.lwcomplete{
  color: var(--main-green);

}
